body {
    background-color: rgb(8, 8, 8);
    color: white;
    width: 70%;
    margin: auto;
    font-family: sans-serif;
}

header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
}

header h1 {
    text-transform: uppercase;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.menu a {
    margin: 5px;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

#planos {
    background-color: rgb(187, 255, 0);
    color: black;
    pointer-events: none;
}


.titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}

.cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
}

.card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgb(41, 38, 38);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgb(187, 255, 0);
}

.card h1 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    border-bottom: solid 2px rgb(187, 255, 0);
    padding-bottom: 5px;
}

.preco span {
    font-size: 30px;
}

.card .beneficios {
    padding: 0;
    flex-grow: 1;
    margin-bottom: 20px;
}

.beneficios li {
    list-style-position: inside;
    list-style-type: disc;
    margin: 0;
    font-size: 14px;
    padding-bottom: 10px;
}

.beneficios li::marker {
    color: rgb(187, 255, 0);
}

.btn_assine {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(187, 255, 0);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.btn_assine:hover {
    background-color: rgb(41, 38, 38);
    outline: solid 2px rgb(187, 255, 0);
    color: white;
}

